body{
    background: olive;
}


#Portia {
    color: red;
    font-size: 100px;
    background-color: yellow;

}

table {
    background-color: forestgreen;
  
}
li{
    margin: 50px;
    background-color: red;
    padding: 20px;
    border: 5px solid black;
}

.form-control {
     background-color: yellow;
     border:5px solid green;
} 
body{
background-color:purple;
}